* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .detail-iframe {
    height: 1300px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .detail-iframe {
    height: 1200px;
  }
}

@media (min-width: 992px) {
  .detail-iframe {
    height: 900px;
  }
}